@model BrowseViewModel
@{
    ViewData["Title"] = "Browse";
    var months = new List<string>()
    {
        "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
    };
}

<div class="d-flex flex-column">
    <h2 class="@(Model.DisplayData ? "mt-3" : "mt-5")">Browse archives</h2>
    <form class="d-flex align-items-center my-3" asp-action="Index" method="post">
        @for (var i = 0; i < Model.Years?.Count; i++)
        {
            @Html.HiddenFor(m => m.Years[i])
        }
        @Html.DropDownListFor(m => m.SelectedYear, new SelectList(Model.Years), "Select year", new { @class = "form-control w-25" })
        @Html.DropDownListFor(m => m.SelectedMonth, new SelectList(months), "Select month (optional)", new { @class = "form-control w-25 ms-3" })
        <button onclick="handleClick()" id="btn-submit" class="form-control btn btn-primary w-25 ms-3" type="submit">
            Show weather data
        </button>
        @if (Model.Error != null)
        {
            <span class="text-warning ms-3">@Model.Error</span>
        }
    </form>
    @if (Model.DisplayData)
    {
        <table id="content" class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Dew point</th>
                <th>Atmospheric pressure</th>
                <th>Wind direction</th>
                <th>Wind speed</th>
                <th>Cloudiness</th>
                <th>Cloudiness lower edge</th>
                <th>Visibility</th>
                <th>Weather</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
        </table>
        <div id="loader" class="spinner-grow text-primary" style="align-self: center; width: 3.5rem; height: 3.5rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/infiniteScroll.js"></script>
    <script>
        var infiniteScroll = new InfiniteScroll("content", "/Browse/GetData", { year: @Model.SelectedYear, month: "@Model.SelectedMonth" });
    </script>
    
    <script type="text/javascript">
        function handleClick() {
            $("#btn-submit")
                .prop("disabled", true)
                .html("<span class='spinner-grow spinner-grow-sm' role='status' aria-hidden='true'></span> Searching...");
            $("form").submit();
        }
    </script>
}
